.initiallyHidden {
    visibility: hidden;
}

body {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

.tableRow {
  border-bottom: solid #333333 1px;
}

#payTableDiv {
  padding-left: 15px;
  padding-right: 15px;
}

#winningHandSpan {
  font-size: 24px;
}

#winningHandDiv {
  height: 36px;
}

/* Card sizing for mobile responsiveness */

.col-2 {
  padding-left: 5px;
  padding-right: 5px;
}

.hold-btn {
  padding-left: 5px;
  padding-right: 5px;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hold-btn {
    padding-left: 12px;
    padding-right: 12px;
  }

}


/* Button styling from https://blog.koalite.com/bbg/ */

.btn-primary { 
    color: #ffffff; 
    background-color: #1B8CBD; 
    border-color: #020469; 
  } 
   
  .btn-primary:hover, 
  .btn-primary:focus, 
  .btn-primary:active, 
  .btn-primary.active, 
  .open .dropdown-toggle.btn-primary { 
    color: #ffffff; 
    background-color: #2C247A; 
    border-color: #020469; 
  } 
   
  .btn-primary:active, 
  .btn-primary.active, 
  .open .dropdown-toggle.btn-primary { 
    background-image: none; 
  } 
   
  .btn-primary.disabled, 
  .btn-primary[disabled], 
  fieldset[disabled] .btn-primary, 
  .btn-primary.disabled:hover, 
  .btn-primary[disabled]:hover, 
  fieldset[disabled] .btn-primary:hover, 
  .btn-primary.disabled:focus, 
  .btn-primary[disabled]:focus, 
  fieldset[disabled] .btn-primary:focus, 
  .btn-primary.disabled:active, 
  .btn-primary[disabled]:active, 
  fieldset[disabled] .btn-primary:active, 
  .btn-primary.disabled.active, 
  .btn-primary[disabled].active, 
  fieldset[disabled] .btn-primary.active { 
    background-color: #1B8CBD; 
    border-color: #020469; 
  } 
   
  .btn-primary .badge { 
    color: #1B8CBD; 
    background-color: #ffffff; 
  }



.collapseBtn.btn.collapsed:before
{
    content:'+ View Pay Table';
    display:block;
    width:300px;
}
.collapseBtn.btn:before
{
    content:'- Hide Pay Table';
    display:block;
    width:300px;
}